@charset "UTF-8";



body{
	background-color: rgb(255, 223, 228);
	cursor: url("purinangel.cur"), auto;

}

#resultTbl{
	margin: auto;
	border : rgb(254, 141, 177) solid 3px ;
	border-radius: 50px;
	width: 650px;
	height: 800px;
	background-color: rgb(254, 196, 215);
	text-align: center;
}

.resultT{
	color: rgb(254, 141, 177);
	
}


#result td{
	text-align: center;
}

#charac{
	margin: auto;
	margin-bottom: 50px;
	border-radius: 50px;
	width: 520px;
	height: 250px;
	background-color: #ffffff;
}

#charac td{
	font-size: 17pt;
	text-align: left;
	padding-left: 25px;
	
}


.RT1 {
	color: #ffffff;
	font-size: 20px;
	text-shadow: -2px 0 rgb(255, 81, 147), 0 2px rgb(255, 81, 147), 
	2px 0 rgb(255, 81, 147), 0 -2px rgb(255, 81, 147); 
}

.RT2 {
	color: rgb(253, 51, 117);
	font-size: 20pt;
}

#MbtiTbl{
	margin:auto;
	padding-bottom: 50px;
	
}
	
.RT3{
	text-align:center;
	font-size: 50pt;
	color: rgb(253, 51, 117);
	padding-bottom: 20px;
	
}

#RT4{
	height: 100px;	
	
}

.RT5{
	padding-top: 15px;
	font-size: 14pt;
	color: #76534e;

}

#resultTbl2{
	margin: auto;
	border-radius: 50px;
	width: 520px;
	height: 500px;
	background-color: #ffffff;
	color: rgb(254, 141, 177);
	text-align: center;
	margin-bottom: 30px;
}

#resultTbl2 td{
	font-size: 18pt;
}



#resultB{
	padding-top: 50px;
	align-content: center;
	margin: auto;
}

.btn{
	width : 200px;
	height : 60px;
	border-radius : 20px;
	border : rgb(254, 141, 177) solid 3px ;
	color: #ffecf5;
	background-color: rgb(254, 105, 154);
	font-size : 18pt;
	text-align: center;
	cursor: url("purin.cur"), auto;
}

.btn:hover{
	color: rgb(253, 51, 117);
	background-color: #ffecf5;
}


