@charset "UTF-8";
body{
	background-color: #ffdfe4;
	font-family: 'Jua', sans-serif;
	color: #ff5893;
	font-size: 30pt;
	cursor: url("purinangel.cur"), auto;
}

button {
	border-radius: 15px;
	width: 500px;
	height: 100px;
	color: #ffecf5;
	background-color: rgb(254, 105, 154);
	border : rgb(254, 141, 177) solid 10px ;
	border-width: 2px;
	cursor: url("purin.cur"), auto;
	
}

button:hover {
	border-radius: 15px;
	color: rgb(253, 51, 117);
	background-color: #ffecf5;
}

#q {
	font-size: 50pt;
}
